*{
    margin:0;
    padding :0;
    box-sizing : border-box;
}
html,body{
    width:100%;
    height:100%;
}
#div1{
    border:solid 12px black;
    padding:5px;
    margin:10px;
    height:100px;
    width:100px;

}
#div2{
    position:sticky;
    top:0px;
    border:solid 10px purple;
    padding:5px;
    margin:10px;
    height:100px;
    width:100px;
    background-color:yellow;
}
div{
    margin:auto;
    border:solid 10px red;
    padding:5px;
    margin:10px;
    height:100px;
    width:100px;
    background-color:lightblue;
}
body{
    background-image:url("ttst.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:end;
    align-items:center;
    flex-direction:column;
}